@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic,700italic);
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
code,
kbd,
pre,
samp {
  font-family: 'Source Code Pro', monospace;
}
.container {
  margin: 0 auto;
  width: 80%;
}
a:link {
  color: #0088cc;
}
a:visited {
  color: #0077cc;
}
a:hover {
  color: #005580;
}
p,
ul,
ol {
  line-height: 1.6;
  margin: 0 0 10px;
}
hr {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
}
header {
  line-height: 1;
  text-align: center;
}
header a {
  text-decoration: none;
  -moz-transition: all linear .2s;
  -o-transition: all linear .2s;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
}
header a:hover {
  color: #c33;
}
header a:hover:first-child {
  text-shadow: -5px 0 6px #0088cc;
}
header a:hover:last-child {
  text-shadow: 5px 0 6px #0088cc;
}
header h1 {
  margin: 0;
  font-weight: 100;
  font-size: 120px;
}
header h2 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
}
@media only screen and (max-width: 599px) {
  .container {
    width: auto;
  }
  header h1 {
    font-size: 96px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 479px) {
  header h1 {
    font-size: 70px;
  }
  header h2 {
    margin: 0 30px;
  }
}
