.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.category-list li {
  margin: 10px 0;
}
.category-list li:before {
  content: '◆';
  border-radius: 3px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  line-height: 1;
  padding: 4px;
  margin-right: 5px;
}
.category-list li:before {
  background-color: #5dc4f0;
  color: #ffffff;
}
.category-list li.javascript:before {
  background-color: #f3df49;
  color: #2e2e2c;
}
.category-list li.dot-net:before {
  background-color: #3babd0;
  color: #ffffff;
}
.category-list li.csharp:before {
  background-color: #368832;
  color: #ffffff;
}
