.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.post-list li {
  margin: 20px 0;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.5);
}
.post-list li aside {
  float: right;
  background: #f3df49;
}
