@import-once url('./_variables.less');
@import-once url('./_colors.less');
@import-once url('./_mixins.less');

.category-label {
	display: none;
}

.post-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	@itemPadding: 10px;

	li {
		// Core listing styles
		margin: 40px 0;
		padding: 0 @itemPadding @itemPadding;
		border-bottom: 1px solid #ccc;
		overflow: hidden; // Hide extra height of triangle from <aside>
		position: relative; // Stretch <aside> to fill parent height
		z-index: 2; // Make sure the links in the <aside>s are clickable.
		.hoverTransition(margin-right, margin-left);
		// Post titles
		h2 {
			font-size: 24px;
			line-height: 28px;
			font-weight: 300;
			// The title text is in a separate element so that
			// it can cover the date (via shadow) for overlap.
			span {
				background: white;
				-webkit-box-shadow: 5px 0 8px 1px rgba(255, 255, 255, 1);
				box-shadow: 5px 0 8px 1px rgba(255, 255, 255, 1);
			}

			.date {
				position: absolute;
				top: 0;
				z-index: -1; // Make sure the date is covered by the title on overlap
				.hoverTransition(right, margin-right);
				color: black;
				font-size: 16px;
				font-weight: normal;
				font-style: italic;
			}
		}

		h2, p {
			margin-top: 0;
			margin-bottom: 5px;
			clear: both;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.defineCategoryColors(); // Invokes .ColorScheme() mixin inside of different color classes
		.CategoryBackground(@color) {
			aside {
				background-color: @color;

				&:before {
					border-color: transparent transparent @color transparent;
				}
			}
		}

		.ColorScheme(@baseColor) {
			.CategoryBackground(@baseColor);

			aside a:hover {
				color: contrast(@baseColor, #333, #ccc);
			}
		}

		.ColorScheme(@baseColor, @textColor) {
			.CategoryBackground(@baseColor);

			aside a {
				color: @textColor;

				&:hover {
					color: contrast(@baseColor, darken(@textColor, 45%), lighten(@textColor, 45%));
				}
			}
		}
		// Desktop-mode category side
		// (angled bar on the right)
		aside {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			z-index: -2; // The bar should be behind the date so that the date can appear above the white part of the triangle.
			.hoverTransition(width, right);

			&:before {
				.hoverTransition(border-width, margin-left);
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				// The triangle is laid out in .sideSlant() and colored in .CategoryBackground()
			}

			a {
				position: absolute;
				text-align: right;
				right: @itemPadding;
				bottom: @itemPadding;
				font-size: 24px;
				width: 100%;
				letter-spacing: 1px;

				&:hover {
					// This overrides the color for unstyled categories only.
					color: @hoverLinkColor;
				}
			}

			@media only screen and (max-width: 1199px) {
				a {
					font-size: 22px;
				}
			}
		}

		.sideSlant(30px);
		.sideWidth(30%);

		&:hover {
			.sideWidth(35%);
		}

		@media only screen and (min-width: 1500px) {
			.sideSlant(120px);
			.sideWidth(40%);

			&:hover {
				.sideWidth(43%);
			}
		}

		.sideSlant(@width) {
			h2 .date {
				margin-right: @width / 6; // Don't cover the top part of the triangle
			}
			// The triangle hangs off the left edge, and extends
			// far below the box so that it covers taller posts.
			aside:before {
				margin-left: -@width;
				border-width: 0 0 200px @width;
			}
		}

		.sideWidth(@width) {
			padding-right: @width + 2; // Don't cover too much of the space occupied by the triangle.
			h2 .date {
				right: @width;
			}

			aside {
				width: @width;
			}
		}
	}
	// Mobile-mode category side.
	// Narrow bar on the left; no
	// text.  The date appears on
	// its own line.
	@media only screen and (max-width: 499px) {
		li {
			overflow: visible; // Let the <aside> show through the margin
			padding-right: @itemPadding !important; // Override desktop padding & hover
			@sideWidth: 20px;
			margin-left: @sideWidth;

			h2 span {
				display: block;
			}

			h2 .date {
				position: static;
				float: left;
			}

			aside {
				right: 100%;
				width: @sideWidth !important; // Override hover style
				border-bottom: 1px solid #ccc;

				&:before {
					content: none;
				}

				a {
					display: none;
				}
			}
		}
	}
}
