.hoverTransition(...) {
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-moz-transition-property: @arguments;
	-o-transition-property: @arguments;
	-webkit-transition-property: @arguments;
	transition-property: @arguments;
}

.post-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	@itemPadding: 10px;

	li {
		// Core listing styles
		margin: 40px 0;
		padding: 0 @itemPadding @itemPadding;
		border-bottom: 1px solid #ccc;
		position: relative; // Stretch <aside> to fill parent height
		.hoverTransition(margin-right, margin-left);
		// Post titles
		h2 {
			line-height: 1.2;
			font-weight: 300;
			// The title text is in a separate element so that
			// it can cover the date (via shadow) for overlap.
			span {
				background: white;
				-webkit-box-shadow: 5px 0 8px 1px rgba(255, 255, 255, 1);
				box-shadow: 5px 0 8px 1px rgba(255, 255, 255, 1);
			}

			.date {
				position: absolute;
				top: 0;
				z-index: -1;
				line-height: 31px;
				color: black;
				font-size: 16px;
				font-weight: normal;
				font-style: italic;
				.hoverTransition(right);
			}
		}

		h2, p {
			margin-top: 0;
			margin-bottom: 5px;
			clear: both;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.defineCategoryColors(); // Invokes .ColorScheme() mixin inside of different color classes
		.ColorScheme(@baseColor) {
			aside {
				background-color: @baseColor;
			}
		}

		.ColorScheme(@baseColor, @textColor) {
			.ColorScheme(@baseColor);

			aside {
				color: @textColor;
			}
		}
		// Desktop-mode category side
		// (angled bar on the right)
		aside {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			overflow: hidden;
			.hoverTransition(width, right);

			&:before {
				.hoverTransition(border-width);
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 200px 30px 0 0;
				border-color: white transparent transparent transparent;
			}


			span {
				position: absolute;
				text-align: right;
				right: @itemPadding;
				bottom: @itemPadding;
				font-size: 24px;
				width: 100%;
				letter-spacing: 1px;
			}

			@media only screen and (max-width: 1199px) {
				span {
					font-size: 22px;
				}
			}

			@media only screen and (min-width: 1500px) {
				&:before {
					border-width: 200px 120px 0 0;
				}
			}
		}

		.layout(30%);

		&:hover {
			.layout(35%);
		}

		.layout(@sideWidth) {
			padding-right: @sideWidth + 2;

			h2 .date {
				right: @sideWidth + 2;
			}

			aside {
				width: @sideWidth;
			}
		}
	}
	// Mobile-mode category side.
	// Narrow bar on the left; no
	// text.  The date appears on
	// its own line.
	@media only screen and (max-width: 499px) {
		li {
			padding-right: @itemPadding !important; // Override desktop padding & hover
			@sideWidth: 20px;
			margin-left: @sideWidth;

			h2 span {
				display: block;
			}

			h2 .date {
				position: static;
				float: left;
			}

			aside {
				right: 100%;
				width: @sideWidth !important; // Override hover style
				border-bottom: 1px solid #ccc;

				&:before {
					content: none;
				}

				span {
					display: none;
				}
			}
		}
	}
}

.defineCategoryColors() {
	.ColorScheme(#5DC4F0, white);

	&.javascript {
		.ColorScheme(#f3df49, #2e2e2c);
	}

	&.dot-net {
		.ColorScheme(#3babd0);
	}

	&.csharp {
		.ColorScheme(#368832);
	}
}
