@import-once url('./_variables.less');
@import-once url('./_colors.less');
@import-once url('./_mixins.less');

.side-post-list {
	@itemPadding: 10px;
	width: @postListCollapsedWidth;
	overflow: hidden;
	background-color: white;
	opacity: .6;
	border-right: 1px solid #888;
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	.hoverTransition(width, opacity);

	&:hover {
		opacity: 1;
		-webkit-box-shadow: 1px 0 12px 0 rgba(0,0,0,.5);
		box-shadow: 1px 0 12px 0 rgba(0,0,0,.5);
	}

	li {
		padding: 0 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	li:first-child {
		margin: 20px 0 10px;
		padding-left: 10px + @postListCollapsedWidth;

		h2 {
			font-size: 26px;
			line-height: 30px;
			font-weight: 300;
			margin: 0;
		}
	}

	li + li {
		margin: 20px 0;
		border-left: solid @postListCollapsedWidth;
		overflow: hidden; // Hide hidden content
		h3 {
			font-size: 20px;
			line-height: 1.16;
			font-weight: 300;
			margin: 0;
		}
		// Hide content until hovered, then slide down
		p {
			margin: 0;
			max-height: 0;
			.hoverTransition(margin-top, max-height);
		}

		&:hover p {
			margin-top: 5px;
			max-height: 200px;
		}

		.defineCategoryColors(); // Invokes .ColorScheme() mixin inside of different color classes
		.ColorScheme(@baseColor, @textColor: #fff) {
			border-left-color: @baseColor;
		}
	}


	.Layout(@expandedWidth) {
		&:hover {
			min-width: @expandedWidth;
		}

		li {
			width: @expandedWidth;
		}
	}

	.Layout(450px);

	@media only screen and (max-width: 599px) {
		.Layout(320px);
	}

	@media only screen and (max-width: 479px) {
		display: none;
	}
}
