---
layout: default
title: SLaks
---
	<ul class="post-list">
		{% for post in site.posts %}
			{% capture categories %}{{ post.categories | join:"~" }}{% endcapture %}
			{% include set-category-class %}
			<li class="{{ categoryClass | xml_escape }}">
				<h2><a href="{{ post.url }}"><span>{{ post.title | xml_escape }}</span> <small class="date" title="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</small></a></h2>
				<p>{{ post.content | strip_html | truncatewords 100 }}<br /> <a href="{{ post.url }}">Read more</a></p>

				<aside><span>{{ mainCategory | xml_escape }}</span></aside>
			</li>
		{% endfor %}
	</ul>
