---
layout: default
stylesheets: ["post", "side-post-list"]
---
<h1>{{ page.title | xml_escape }}</h1>
<small>Posted on {{ page.date | date: "%A, %B %d %Y, at %I:%M: %p" }}</small>
<article>
	{{ content }}
</article>

<p class="post-categories">Categories: 
	{% for categories in page.categories %}
		{% include slugify-categories %}
		<a href="/#{{ categorySlugs | cgi_escape | xml_escape }}">{{ categories | xml_escape }}</a>{% unless forloop.last %}, {% endunless %}
	{% endfor %}
</p>

<p class="post-navigation">
	{% if page.previous %}<a href="{{ page.previous.url }}" title="{{ page.previous.title }}" class="previous">Previous</a>{% endif %}
	{% if page.next %}<a href="{{ page.next.url }}" title="{{ page.next.title }}" class="next">Next</a>{% endif %}
</p>

<ul class="side-post-list"> 
	<li><h2>Other posts</h2></li>
	{% for post in site.posts %}
		{% capture categories %}{{ post.categories | join:"~" }}{% endcapture %}
		{% include extract-main-category %}
		<li title="This post is about {{ post.categories | array_to_sentence_string }}." class="{{ mainCategorySlug | xml_escape }}" data-categories="{{ categorySlugs }}">
			{% if page.id == post.id %}
			<h3>This post</h3>
			{% else %}
			<h3 title="Posted on {{ post.date | date: '%Y-%m-%d' }}"><a href="{{ post.url }}">{{ post.title | xml_escape }}</a></h3>
			<p>{{ post.content | strip_html | truncatewords 100 }}</p>
			{% endif %}
		</li>
	{% endfor %}
</ul>
